<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход в систему</title>
    <link rel="stylesheet" href="/css/login_registration.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/api/v1/index">Главная страница</a></li>
            <li><a href="/api/v1/doctors">Врачи</a></li>
            <li th:if="${isAdmin}"><a href="/registration">Создать сотрудника</a></li>
            <li th:if="${!isAuthenticated}"><a href="/login">Войти</a></li>
            <li th:if="${isAuthenticated}"><a href="/logout">Выйти</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <h2>Вход в систему</h2>
        <form action="/login" method="post">
            <label for="username">Логин:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Войти</button>
        </form>
        <form action="/registration" method="get">
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
</main>
<footer>
    <p>&copy; 2024 Поликлиника здорового лечения. Все права защищены.</p>
    <div class="contacts">
        <p>Адрес: ул. Гагарина, 12</p>
        <p>Телефон: +7 (906) 528-74-58</p>
    </div>
</footer>
</body>
</html>