<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация пользователя</title>
    <link rel="stylesheet" href="/css/login_registration.css">
    <script>
        function toggleEmployeeFields() {
            const role = document.getElementById('role').value;
            const employeeFields = document.getElementById('employeeFields');
            employeeFields.classList.toggle('hidden', role !== 'MODERATOR');
        }
    </script>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/api/v1/index">О нас</a></li>
            <li><a href="#services">Услуги</a></li>
            <li><a href="#contacts">Контакты</a></li>
            <li><a href="#workers">Записаться к специалисту</a></li>
            <li th:if="${isAuthenticated}"><a href="/logout">Выйти</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <h2>Регистрация пользователя</h2>
        <form action="/registration" method="post">
            <label for="username">Логин:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>

            <label th:if="${isAdmin}" for="role">Роль:</label>
            <select th:if="${isAdmin}" id="role" name="role" onchange="toggleEmployeeFields()">
                <option value="ADMIN">Руководитель/Администратор</option>
                <option value="MODERATOR">Сотрудник</option>
            </select>

            <label for="lastName">Фамилия:</label>
            <input type="text" id="lastName" name="lastName" required>

            <label for="firstName">Имя:</label>
            <input type="text" id="firstName" name="firstName" required>

            <label for="patronymic">Отчество:</label>
            <input type="text" id="patronymic" name="patronymic">

            <label for="phoneNumber">Номер телефона:</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" pattern="\+?[0-9\s\-\(\)]+" required>

            <label for="medicalNumber">Медицинский номер:</label>
            <input type="text" id="medicalNumber" name="medicalNumber">

            <div id="employeeFields" class="hidden">
                <label for="position">Должность:</label>
                <input type="text" id="position" name="position">

                <label for="description">Описание:</label>
                <textarea id="description" name="description"></textarea>

                <label for="education">Образование:</label>
                <input type="text" id="education" name="education">

                <label for="email">Электронная почта:</label>
                <input type="email" id="email" name="email">
            </div>

            <button type="submit">Зарегистрироваться</button>
        </form>
        <form action="/login" method="get">
            <button type="submit">Войти</button>
        </form>
    </div>
</main>
<footer>
    <p>&copy; 2024 Поликлиника здорового лечения. Все права защищены.</p>
    <div class="contacts">
        <p>Адрес: ул. Гагарина, 12</p>
        <p>Телефон: +7 (906) 528-74-58</p>
    </div>
</footer>
</body>
</html>
